/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-nov-2021, 14:38:35
    Author     : proberto666
*/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	text-align:center;
}

.titleTable{
    background: #eb332c; 
    color: white;
    border: 1.5px solid ;
    border-color: rgb(235,51,44);
}

.elementTable{
    border: 1.5px solid ; 
    border-color: rgb(235,51,44); 
    margin-top: 20px;
}

.bgBlack{
    background-color: black;
}

.inputValue{
    border-bottom:1px solid black;  
}

select {
   background: transparent;
   border: black;
   font-size: 14px;
   height: 30px;
   padding: 5px;
   width: 250px;
}
select:focus{ outline: none;}
